body {
padding: 10px 150px;
background-image: url("https://i.pinimg.com/originals/78/14/06/78140651a28afcfe0991cef229049104.png");
background-size: cover;
}

header{
  position: absolute;
top: 30px;
left: 5px;
width: 135px;
}

.accueil {
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0895C0 ;
    padding: 15px;
}

.safety {
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #08007B;
    padding: 20px;
}

.bouton {
    padding:8px 20px;
    background-color: white;
    border: solid 2.5px;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
}

.intro {
    background-color: rgba(255,255,255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

ul ul {display: none;}
/*li:hover ul.lv2 {display: block;}*/

.boite1{
    display: flex;
    flex-direction: row;
}

.boite1 :nth-child(1) {order: 1}
.boite1 :nth-child(2) {order: 2}

.boite2{
    display: flex;
    flex-direction: row;
}

.boite2 :nth-child(1) {order: 1}
.boite2 :nth-child(2) {order: 2}

.boite3{
    display: flex;
    flex-direction: row;
}

.boite3 :nth-child(1) {order: 1}
.boite3 :nth-child(2) {order: 2}

.boite4{
    display: flex;
    flex-direction: row;
}

.boite4 :nth-child(1) {order: 1}
.boite4 :nth-child(2) {order: 2}

.boite5{
    display: flex;
    flex-direction: row;
}

.boite5 :nth-child(1) {order: 1}
.boite5 :nth-child(2) {order: 2}

.boite6{
    display: flex;
    flex-direction: row;
}

.boite6 :nth-child(1) {order: 1}
.boite6 :nth-child(2) {order: 2}

.contactaides {
    background-color: rgba(255,255,255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-weight: bold;
    padding: 30px;
    padding-bottom: 90px;
}

.lieux2{
    color : black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(255,255,255, 0.7);
    padding: 30px
}

.lv1{
    padding:8px 20px;
    background-color: white;
    border: solid 2.5px;
    border-radius: 10px;
    border-color: black;
    display: none;
}


.intro{
  padding: 20px;

}

.itrmap{
  background-color: rgba(255,255,255, 0.7);
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  background-size: cover;
  height:700px;
  padding-left: 8%;
}

.map{
position: relative;
height: 90%;
width: 90%;
z-index: 2;
}

.circ1{
  position : relative;
  top: 36%;
  right: 39%;
  background: red;
  border-radius:50%;
  width:15px;
  height:15px;
  border:3px solid darkred;
  z-index: 3;
}

.circ2{
  position : relative;
  top: 12%;
  right: 32%;
  background: red;
  border-radius:50%;
  width:15px;
  height:15px;
  border:3px solid darkred;
  z-index: 3;
}

.circ3{
  position: relative;
  top: 48%;
  right: 65%;
  background: red;
  border-radius:50%;
  width:15px;
  height:15px;
  border:3px solid darkred;
  z-index: 3;
}

.circ4{
  position: relative;
  top: 65.5%;
  right: 65%;
  background: red;
  border-radius:50%;
  width:15px;
  height:15px;
  border:3px solid darkred;
  z-index: 3
}

.circ5{
  position: relative;
  top: 40% ;
  right: 80%;
  background: red;
  border-radius:50%;
  width:15px;
  height:15px;
  border:3px solid darkred;
  z-index: 3;
}

.circ6{
  position: relative;
  top: 17%;
  right: 28%;
  background: red;
  border-radius:50%;
  width:15px;
  height:15px;
  border:3px solid darkred;
  z-index: 3;
}

@media query screen and (maxwidth {

}
